<!-- ヘッダー -->
<header>
    <div class="logo">みなみく</div>
    <div class="header-right">
        <a href="emergency.html" class="content" id="emergency">緊急情報</a>
        <div class="menu-toggle" id="menuToggle">
            <div class="hamburger"></div>
            <span>メニュー</span>
        </div>
    </div>
</header>

<!-- スライドメニュー -->
<nav id="sideMenu">
    <ul>
        <li><a href="../../index.html">ホーム</a></li>
        <li><a href="../../search.html">情報を探す</a></li>
        <li><a href="../../news.html">お知らせ・ニュース</a></li>
        <li><a href="#">通知をすぐ受け取る</a></li>
        <li><a href="#">お問い合わせ</a></li>
        <!-- <li><a href="#">文字サイス変更</a>
            <div class="form-section font-size-toggle">
                <label>文字サイズ</label>
                <div>
                    <label><input type="radio" name="font-size" value="small"> 小</label>
                    <label><input type="radio" name="font-size" value="medium"> 中</label>
                    <label><input type="radio" name="font-size" value="large" checked> 大</label>
                </div>
            </div>
        </li> -->
    </ul>
</nav>